{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('account') }}
{% endblock %}

{% block title %}Adress{% endblock %}

{% block body %}
<section class="blockBody">
    <div class="container m-5">
        <h1 class="mb-5">Meine Adresse</h1>
        {% if app.user.addresses | length ==0 %}
            <p>Keine Adresse</p>
            <a href="{{ path('app_account_add_address') }}">Füge eine Adresse hinzu</a>
        {% else %}
            <div class="row">
                {% for address in app.user.addresses %}
                    <div class="col-md-4">
                        <div class="card mb-5">
                            <div class="card-body">
                                <h5 class="card-title">{{ address.name }}</h5>
                                <p class="card-text">
                                    {{ address.address }},<br/>
                                    {{ address.postal }} - {{ address.city }} <br/>
                                    {{ address.country }}
                                </p>
                                <a href="{{ path('app_account_edit_address', { 'id' : address.id }) }}"   >Bearbeiten</a> |
                                <a href="{{ path('app_account_delete_address', { 'id' : address.id }) }} " onclick="return confirm('Möchten Sie dieses Element wirklich löschen?')">Löschen</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>

{% endblock %}