{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('account') }}
{% endblock %}
{% block title %}Konto{% endblock %}

{% block body %}
<section class="blockBody">
    <div class="container ">
        <h1 class="mb-5">Mein konto</h1>
        {% if is_granted('ROLE_ADMIN') %}
        <small><a href="/admin">Gehen Sie zum Admin-Panel</a> </small> <br/>
        {% endif %}

        <p> Willkommen <strong>{{ app.user.firstname}}</strong> in Ihrem Konto </p>
        <p>Hier haben Sie Zugriff auf alle persönlichen Informationen Ihres Kontos.</p>
        <hr>
        <div class="row">
            <div class="col-md-4 p-5">
                <div class="account-item text-center">
                    <a href =" {{ path('account_password') }} " >
                        <img class="icon-item p-2" src="images/mot-de-passe.png" alt="neu passwort"><br/>
                        <p>Ändere mein Passwort</p>
                    </a>
                </div>
            </div>
            <div class="col-md-4 p-5">
                <div class="account-item text-center">
                    <a href="{{ path('app_account_address') }}">
                        <img class="icon-item p-2" src="images/adresse.png" alt="adress"><br/>
                        <p>Meine Adress</p>
                    </a>
                </div>
            </div>
            <div class="col-md-4 p-5">
                <div class="account-item text-center">
                    <a href="{{ path('app_account_order') }}">
                        <img class="icon-item p-2" src="images/livraison.png" alt="bestellungen"><br/>
                        <p>Meine Bestellungen</p>
                    </a>
                </div>
            </div>



    </div>


</div>
</section>
{% endblock %}
