{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('account') }}

{% endblock %}

{% block title %}Passwort{% endblock %}
{% block body %}
    <section class="blockBody">
        <div class="container">
            <h1 class="mt-5 mb-5 font-weight-normal text-center">Ändere mein Passwort</h1>
            {% if notification %}
                <div class="alert alert-info">{{ notification }}</div>
            {% endif %}
            <hr>
            <div class="mt-5">
                {{ form(form) }}
            </div>
            <div class="text-center mt-lg-3 mb-5">
                <a class="btn btn-secondary" href="{{ path('account') }}">Mein Konto</a>
            </div>

        </div>
    </section>
{% endblock %}
