{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('account') }}

{% endblock %}
{% block title %}Hello AccountPasswordController!{% endblock %}

{% block body %}
    <section class="blockBody">
    <div class="example-wrapper" >
        <h1>Ändere men Passwort</h1>
        <hr>
        {% if notification %}
            <div class="alert alert-info">{{ notification }}</div>
        {% endif %}
        {{ form (form) }}
        <hr>


        <a href =" {{ path('account') }} ">Go mein Konto</a>



    </div>
    </section>
{% endblock %}
