{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('account') }}
{% endblock %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <section class="blockBody">
        <div class="container col-12 col-md-4">
            <div class="row justify-content-center">
                <form method="post">
                    <h1 class="mb-3 text-center mt-5">Melden Sie sich bei Ihrem Konto an </h1>
                     {% if error %}
                     <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                     {% endif %}
                     {% if app.user %}
                     <div class="mb-3">
                     Sie sind bereits mit Benutzernqmen angemeldet {{ app.user.userIdentifier }},
                     <a href="{{ path('app_logout') }}">Ausloggen</a>
                     </div>
                     {% endif %}
                    <label class="pt-4 px-1" for="inputEmail">E-mail</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control px-1 justify-content-center" autocomplete="email" required autofocus>
                    <label class="pt-4 px-1 mt-3" for="inputPassword">Passwort</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    <input class="px-1" type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button class="btn btn m-4 btn-primary" type="submit">Login</button>
                </form>
            </div>
        </div>
    </section>

{% endblock %}
