{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('product') }}

{% endblock %}

{% block title %}Zahlungsfehler{% endblock %}

{% block body %}
    <section class="blockBody">
        <div class="container">
            <h1 class="mb-5">Ihre Bestellung konnte nicht validiert werden</h1>
            <p>
                Hallo <strong>{{ order.user.firstname }} {{ order.user.lastname }}</strong>,<br/><br/>
                Anscheinend ist Ihre Zahlung für Ihre Bestellung Nr.<strong>{{ order.reference }}</strong>.<br/>
                Eine Fehlerbestätigung wurde Ihnen soeben per E-Mail an  <strong>{{ order.user.email }}</strong> gesendet.
            </p>
            <hr>
             <a href="{{ path('app_order') }}" class="btn btn-dark">Zahlung erneut versuchen</a>
        </div>
    </section>

{% endblock %}
