{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('home') }}

{% endblock %}

{% block title %} Willkommen in unseren Bioladen {% endblock %}

{% block body %}
    <section class="blockHome">
    <section class="homeTop d-flex page-content justify-content-center">
        <img class="homePicture" src="images/bild2.jpg" alt="Erstes Bild">
        <div class="homeTxt d-flex flex-column justify-content-around align-items-center align-self-center">
            <div class="main-title"><h1>Willkommen,</h1>
                <div>
                    <span>in unserem Shop für Bio- und Regionalprodukte! </span>
                </div>
            </div>
        </div>
    </section>
    <section>
            <div class="container">
                <div class="col-12 m-5">
                    <h2 class="title-action text-center">Unsere Aktionen <br>
                        <a href="{{ path('app_products') }}" class="btn btn-secondary text-center">Zu unseren Produkten</a>
                    </h2>
                </div>
                <div id="app">
                </div>
            </div>
    </section>
    <section class=>
        <div class="mx-lg-5 pt-5">
            <h2 class="text-center font-weight-bold"> Unsere beruflichen Werte  </h2>
            <div class="d-flex justify-content-center">
                <div class="d-flex align-items-center m-5">
                    <div class="time-content">
                        <div class="blocks">
                            <div class="block zoom">
                                <div class="block-content">
                                    <span class="text-secondary h2">1. </span>
                                    <span class="font-weight-secondary"><strong>Lieferung in 48 Stunden</strong>
                                    . Wählen Sie Ihr Lieferunternehmen</span>
                                </div>
                                <div class="block-content picto"><img src="images/expedie.png"></div>
                            </div>
                            <div class="block zoom">
                                <div class="block-content picto"><img src="images/aliments.png">
                                </div>
                                <div class="block-content"><span class="text-secondary h2">2. </span>
                                    <span class="font-weight-bold"><strong>Immer frische Produkte</strong>.
                                        Ware sicher verpackt</span>.
                                </div>
                            </div>
                            <div class="block zoom">
                                <div class="block-content"><span class="text-secondary h2">3. </span>
                                    <span class="font-weight-bold"> <strong>Lokales Produkt</strong>.
                                        Produkte von Ihren Bauern</span>
                                </div>
                                <div class="block-content picto "><img src="images/lokal.png">
                                </div>
                            </div>
                            <div class="block zoom">
                                <div class="block-content picto"><img src="images/bio.png">
                                </div>
                                <div class="block-content "><span class="text-secondary h2">4. </span>
                                    <span class="font-weight-bold"><strong>Bio-Produkt</strong>.
                                        Qualitätsprodukt</span>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="box">
                                <div class="arrow"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </section>

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('products') }}
{% endblock %}


