{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('home') }}

{% endblock %}

{% block title %} Willkommen in unseren Bioladen {% endblock %}

{% block body %}
    <section class="homeTop d-flex page-content justify-content-center">
        <img class="homePicture" src="images/bild2.jpg" alt="Erstes Bild">
        <div class="homeTxt d-flex flex-column justify-content-around align-items-center align-self-center">
            <div class="main-title"><h1>Willkommen,</h1>
                <div>
                    <span>in unserem Shop für Bio- und Regionalprodukte! </span>
                </div>
            </div>
        </div>
    </section>
    <section>
            <div class="container">
                <div class="col-12 m-5">
                    <h2 class="title-action text-center">Unsere Aktionen <br>
                        <a href="{{ path('app_products') }}" class="btn btn-secondary text-center">Zu unseren Produkten</a>
                    </h2>
                </div>
                <div id="app">
                </div>
            </div>
    </section>
    <section class="col-12 m-5">
            <div class="container">
                <h2 class="title-uns text-center mt-5">Unsere beruflichen Werte </h2>
            <div class="row no-gutters">
                <div class="col-md-3 text-center d-flex align-self-stretch ">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="d-flex justify-content-center align-items-center mb-2">
                            <img src="images/expedie.png">
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Lieferung in 48 Stunden</h3>
                            <span>Wählen Sie Ihr Lieferunternehmen</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center d-flex align-self-stretch ">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="d-flex justify-content-center align-items-center mb-2">
                            <img src="images/aliments.png">
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Immer frische Produkte</h3>
                            <span>Ware sicher verpackt</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 text-center d-flex align-self-stretch ">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="d-flex justify-content-center align-items-center mb-2">
                            <img src="images/lokal.png">
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Lokales Produkt</h3>
                            <span>Produkte von Ihren Bauern</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center d-flex align-self-stretch ">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="d-flex justify-content-center align-items-center mb-2">
                            <img src="images/bio.png">
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Bio-Produkt</h3>
                            <span>Qualitätsprodukt</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('products') }}
{% endblock %}


