{% extends 'base_admin.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block title %}Promo index{% endblock %}

{% block body %}

<section class="blockAdmin">
    <h1 class="title text-center mb-5 mt-xxl-5">Admin Angebote</h1>
    <div class="container">
        <a class="col btn btn-primary mb-sm-2 mb-2 btn" href="{{ path('app_admin_promo_new') }}">Angebote anlegen</a>
        <table class="table table-responsive-lg text-dark">
            <thead class="thead-light text-center">
            <tr>
                <th>Code</th>
                <th>Reduction</th>
                <th>Aktion</th>
            </tr>
        </thead>
        <tbody>
        {% for promo in promos %}
            <tr>
                <td class="text-center">{{ promo.code }}</td>
                <td class="text-center">{{ promo.reduction }}</td>
                <td class="text-center">
                    <a class="col btn btn-primary mb-sm-2 mb-2 btn" href="{{ path('app_admin_promo_show', {'id': promo.id}) }}">Anzeigen</a>
                    <a class="col btn btn-primary mb-sm-2 mb-2 btn" href="{{ path('app_admin_promo_edit', {'id': promo.id}) }}">Bestätigen</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td class="text-danger" colspan="5">Keine Angebote gefunden</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</section>

{% endblock %}
