{% extends 'base_admin.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}
{% block title %}Order index{% endblock %}

{% block body %}
<section class="blockAdmin">

<h1 class="title text-center mb-5 mt-xxl-5">Admin Bestellung</h1>
    <div class="container">
{#        <a class="col btn btn-primary mb-sm-2 mb-2 btn" href="{{ path('app_admin_order_new') }}">Schaffen Bestellung </a>#}
        <table class="table table-responsive-lg text-dark">
            <thead class="thead-light text-center">
            <tr>
                <th>Liefer Name</th>
                <th>Liefer Price</th>
                <th>Adresse</th>
                <th>Erstellt die</th>
                <th>Zahlen die</th>
                <th>Aktion</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td class="text-center">{{ order.carrierName }}</td>
                <td>{{ order.carrierPrice }}</td>
                <td>{{ order.delivery|raw }}</td>

                <td>{{ order.createAt ? order.createAt|date('d-m-Y') : '' }}</td>
                <td>{{ order.isPaid ? 'Ja' : 'Nein' }}</td>
                <td>
                    <a class="col btn btn-primary mb-sm-2 mb-2 btn" href="{{ path('app_admin_order_show', {'id': order.id}) }}">Anzeigen</a>
{#                    <a class="col btn btn-primary mb-sm-2 mb-2 btn" href="{{ path('app_admin_order_edit', {'id': order.id}) }}">edit</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td class="text-danger" colspan="7">Keine Bestellung gefunden</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</section>

{% endblock %}

