{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('product') }}

{% endblock %}

{% block title %}Products{% endblock %}

{% block body %}
<section class="blockBody">
    <div class="row">
        <div class="col-md-2">
            <h3>Filter</h3>
            {{ form(form) }}
        </div>
        <div class="col-md-10">
            <h3>Unserer Products</h3>
            <div class="row product-container m-lg-5">
                {% for product in products %}
                    <div class="col-md-4 mt-3 ">
                        <div class="card">
                            <div class="bd-image">
                                <a href="{{ path('app_product_show', {'id': product.id}) }}"><img src="/images/products/{{ product.pictureName }}" alt="{{ product.name }}" class="img-fluid pictureProduct"></a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                            </div>
                            <div class="card-footer">
                                {{ product.price }}€
                            </div>
                        </div>
{#                        <div class="product-item text-center">#}
{#                            #}

{#                            <h5></h5>#}
{#                            <span class="product-subtitle"></span>#}
{#                            <span class="product-price"> </span>#}
{#                            </a>#}
{#                        </div>#}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
