{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('product') }}

{% endblock %}

{% block title %}Products{% endblock %}

{% block body %}
<section class="blockBody">
    <div class="row">
        <div class="col-md-3">
            <h3>Filter</h3>
            {{ form(form) }}
        </div>
        <div class="col-md-9">
            <h3>Unserer Products</h3>
            <div class="row product-container">
                {% for product in products %}
                    <div class="col-md-4">
                        <div class="product-item text-center">
                            <a class="col btn btn-primary mb-sm-2 mb-2 btn" href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                            <img src="/images/products/{{ product.pictureName }}" alt="{{ product.name }}" class="img-fluid pictureProduct">
                            <h5>{{ product.name }}</h5>
                            <h2 class="titreH2">{{ product.subtitle }}</h2>
                            <h2 class="titreH2">{{ product.price }}</h2>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
