{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('product') }}

{% endblock %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
<section class="blockBody">
    <div class="row">
        <div class="col-md-5">
            <img src="/images/products/{{ product.pictureName }}" alt="{{ product.name }}" class="img-fluid">
        </div>
        <div class="col-md-7 my-auto">
            <h3>{{ product.name }}</h3>
            <p>{{ product.subtitle }}</p>
            <span class="product-price">{{ product.price }} € </span>
            <hr>
            <p>{{ product.description }}</p>
            <a href="{{ path('app_add_cart' , {'id':product.id} )}}" class="btn btn-dark">In den Warenkorb</a>
        </div>
    </div>
    </section>

{% endblock %}
