{% extends 'base_admin.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block title %}Products{% endblock %}

{% block body %}
<section class="blockAdmin">
    <h1 class="title text-center mb-5 mt-xxl-5">Products</h1>
    <div class="container">

    <table class="table table-responsive-lg text-dark">
        <tbody >
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Angebote</th>
                <td>{{ product.isBest? 'Ja' : 'Nein' }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>
                    <img src="/images/products/{{ product.pictureName }}" alt="{{ product.name }}" class="idImage img-thumbnail rounded float-start">
                </td>
            </tr>
            <tr>
                <th>Subtitle</th>
                <td>{{ product.subtitle }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ product.updatedAt ? product.updatedAt|date('d-m-Y') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="col btn btn-primary mb-sm-2 mb-2 btn" href="{{ path('app_products_index') }}">back to list</a>

    <a class="col btn btn-primary mb-sm-2 mb-2 btn" href="{{ path('app_products_edit', {'id': product.id}) }}">edit</a>

    {{ include('admin/products/_delete_form.html.twig') }}
</section>
{% endblock %}
