{% extends 'base_admin.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}
{% block title %}Carrier index{% endblock %}

{% block body %}
<section class="blockAdmin">
    <h1 class="title text-center mb-5 mt-xxl-5">Admin Lieferservice</h1>
    <div class="container">
        <a class="col btn btn-primary mb-sm-2 mb-2 btn" href="{{ path('app_carrier_admin_new') }}">Schaffen Lieferservice</a>
        <table class="table table-responsive-lg text-dark">
            <thead class="thead-light text-center">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for carrier in carriers %}
                <tr>
                    <td class="text-center">{{ carrier.name }}</td>
                    <td>{{ carrier.description }}</td>
                    <td>{{ carrier.price }}</td>
                    <td class="text-center">
                        <a class="col btn btn-primary mb-sm-2 mb-2 btn" href="{{ path('app_carrier_admin_show', {'id': carrier.id}) }}">Sehen</a>
                        <a class="col btn btn-primary mb-sm-2 mb-2 btn" href="{{ path('app_carrier_admin_edit', {'id': carrier.id}) }}">Bestätigen</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td class="text-danger" colspan="5">Keine Lieferservice gefunden</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</section>

{% endblock %}
