{% extends 'base_admin.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block title %}Carrier{% endblock %}

{% block body %}
<section class="blockAdmin">
    <h1 class="title text-center mb-5 mt-xxl-5">Lieferservice</h1>
    <div class="container">
    <table class="table table-responsive-lg text-dark">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ carrier.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ carrier.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ carrier.price }}</td>
            </tr>
        </tbody>
    </table>

    <a class="col btn btn-primary mb-sm-2 mb-2 btn" href="{{ path('app_carrier_admin_index') }}">Zurück zur Liste</a>

    <a class="col btn btn-primary mb-sm-2 mb-2 btn" href="{{ path('app_carrier_admin_edit', {'id': carrier.id}) }}">Bestätigen</a>

    {{ include('admin/carrier/_delete_form.html.twig') }}
    </div>
</section>
{% endblock %}
