{% extends 'base_admin.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block title %}Category index{% endblock %}

{% block body %}
    <section class="blockAdmin">
        <h1 class="title text-center mb-5 mt-xxl-5">Admin Kategorie</h1>
        <div class = "container">
            <a class="col btn btn-primary mb-sm-2 mb-2 btn" href="{{ path('app_category_new') }}">Kategorie anlegen</a>
            <table class="table table-responsive-lg text-dark">
                <thead class="thead-light text-center">
                <tr>
                    <th>Name</th>
                    <th>Aktion</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td class="text-center">
{#                            <a class="col btn btn-primary mb-sm-2 mb-2 btn" href="{{ path('app_category_show', {'id': category.id}) }}">show</a>#}
                            <a class="col btn btn-primary mb-sm-2 mb-2 btn" href="{{ path('app_category_edit', {'id': category.id}) }}">Bearbeiten</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="text-danger" colspan="3">Keine Kategorie gefunden</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
