{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('order') }}

{% endblock %}
{% block javascript %}
<script src="https://js.stripe.com/v3/"></script>
// <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
{% endblock %}


{% block title %}Order {% endblock %}

{% block body %}
    <section class="blockBody">
        <div class="container m-5">


        <h2>Ich gebe meine Bestellung auf</h2>
        <p>Überprüfen Sie Ihre Informationen, bevor Sie bezahlen</p>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <strong>Lieferadresse</strong><br/>
                <div class="form-check mt-4">
                    {{ delivery|raw }}
                </div>
                <hr>
                <strong>Lieferant</strong><br/>
                <div class="form-check">
                    {{ carrier.name }}<br/>
                    {{ carrier.description }}<br/>
                    {{ (carrier.price)|number_format(2, ',', '.') }} €
                </div>
            </div>

            <div class="col-md-6">
                <div class="text-center">
                    <b>Bestellung</b><br/>
                </div>
                <div class="order-summary">
                    {% set total = null %}
                {% for key,product in cart %}
                    <div class="col row">
                        <div class="col-6">
                            {{ product.product.name }}  x {{ product.quantity }}
                        </div>
                        <div class="col-6">
                            {{ ((product.product.price * product.quantity ))|number_format(2, ',', '.') }} €

                        </div>
                    </div>
                {% set total = total + (product.product.price * product.quantity) %}
                {% endfor %}
            </div>

            <hr>
            <strong>Zwischensumme : </strong> {{ (total)|number_format(2, ',', '.') }} €<br/>
            <strong>Lieferung : </strong> {{ (carrier.price)|number_format(2, ',', '.') }} €
            <hr>
            <strong>Summe : </strong> {{ ((total) + (carrier.price))|number_format(2, ',', '.') }} €
                <a href="{{ path('app_stripe_create_session', {'reference': reference}) }}" class="btn btn-dark btn-block m-5" id="checkout-button">Zahlen | {{ ((total) + (carrier.price))|number_format(2, ',', '.') }} €</a>
            </div>

        </div>
        </div>
    </section>
{% endblock %}


