{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('product') }}

{% endblock %}

{% block title %}Bestellung validieren{% endblock %}

{% block body %}
<section class="blockBody">
    <div class="container">
        <h1 class="mb-5">Ihre Bestellung wurde validiert</h1>
    <p>
        Hallo <strong>{{ order.user.firstname }} {{ order.user.lastname }}</strong>,<br/><br/>
        Vielen Dank für Ihre Bestellung Nr.<strong>{{ order.reference }}</strong>.<br/>
        Eine Bestätigung wurde Ihnen soeben per E-Mail an  <strong>{{ order.user.email }}</strong> gesendet.
    <hr>
    Ihre Bestellung wird von <strong>{{ order.carrierName }}</strong>  an folgende Adresse geliefert: <br/>
    {{ order.delivery|raw }}
    <hr>
    Um Ihre Bestellung zu verfolgen, gehen Sie zu Ihrem <a href="{{ path('app_account_order') }}">Konto</a>.
    </p>
    </div>
</section>

{% endblock %}
